

html{
 scroll-snap-type: y mandatory;
}
body{margin: 0;}
.app_video{
  position: relative;
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;

}
.video{
  position: relative;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}
.v-top-bar{
  width: 100%;
  height: 30px;
  background-color: brown;
  position: absolute;
  top: 0;
}
.video_player{
 
  height: 100% !important; 
  width: 100% !important;
  object-fit: contain !important;
}
.ytp-show-cards-title,.ytp-pause-overlay ,.ytp-scroll-min{display: none !important;}

.ytp-pause-overlay-controls-hidden {display: none !important;}